@mixin theme-button($theme, $v50, $v100, $v200, $v300, $v400, $v500) {
    .#{$theme} {
        app-button {
            .btn {
                padding: 1rem;
                text-transform: uppercase;
                cursor: pointer;
    
                &.primary {
                    background-color: $primary;
                    color: $white;
                }
    
                &:hover {                
                    background-color: rgba($primary, .9);
                }
            }
        }
    }
}