@mixin theme-button($theme, $v50, $v100, $v200, $v300, $v400, $v500) {
    .#{$theme} {
        app-button {
            .btn {
                padding: 1rem;
                text-transform: uppercase;
                cursor: pointer;
    
                &.primary {
                    background-color: $primary;
                    color: $white;
                }
    
                &:hover {                
                    background-color: rgba($primary, .9);
                }
            }
        }

        app-button-close {
            padding: 16px;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            cursor: pointer;

            &:hover {
                background-color: $v200;
            }
        }
    }
}