.upload-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 100;
    border: 1px dashed gray;
    background-color: #242735;
    cursor: pointer;

    &:hover {
        background-color: #24273591;
    }

    img {
        width: 100%;
    }
}