<div class="modal-backdrop" *ngIf="showModal">
    <div class="modal-container medium">
        <div *ngIf="options?.modalHeader" class="modal-header">
            {{options?.modalHeader?.title}}
            <app-button-close (click)="toggleModal()"></app-button-close>
        </div>
        <div class="modal-body"><ng-content></ng-content></div>
        <div *ngIf="options?.modalFooter" class="modal-footer"><app-button [options]="buttonCloseOptions" (click)="toggleModal()"></app-button></div>
    </div>
</div>