.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: max-content;

    canvas {
        border: 1px solid #ccc;
        cursor: crosshair;
        width: calc(100vw - 700px);
        min-width: 340px;
    }

    .tools-container {
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        //argin-left: 20px;
    
        .tool-bar {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-top: 10px;
    
            app-square-button {
                margin-right: 10px;
            }
        }
    
        .resize-group {
            display: flex;
            align-items: flex-start;
            gap: 5px;
            padding: 0 !important;
            width: 100%;
            margin-top: 10px;
            flex-wrap: wrap;
        }
    
        .download-options {
            display: flex;
            align-items: flex-start;
            gap: 5px;
            padding: 0 !important;
            width: 100%;
            margin-top: 10px;
        }
    }
}
