/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    width: 100vw;
    background-color: #e9f3fd;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}